#paint, #temporary-canvas {
    border-top: 1px solid #a9a7a7;
}

.btn.disabled {
    cursor: not-allowed;
}

#sketch {
    width: 100%;
    height: 700px;
    position: relative;
}

#temporary-canvas {
    cursor: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

#canvas-mouse-tool-show {
    opacity: 0.7;
    display: none;
    pointer-events: none;
    z-index: 9;
    position: absolute;
    border: 1px dotted #888888;
}

#canvas-mouse-tool-show.canvas-mouse-used {
    opacity: 0.1;
}

.tooltip.in {
    opacity: 1;
}

h1 {
    margin: 20px 0;
    text-align: center;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.main-content {
    border: 4px solid #a9a7a7;
    margin: 30px 100px 30px 550px;
    padding: 0;
}



.canvas-controls .form-group {
    padding-top: 12px;
}

.canvas-controls .tooltip.top .tooltip-arrow {
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.canvas-controls .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.canvas-controls .tooltip-inner {
    padding: 1px 6px;
}

.canvas-controls .slider .tooltip.top {
    margin-top: -30px;
}

.canvas-controls .slider-track,
.main-content .slider-track {
    background: #e0e0e0;
}

.canvas-controls .slider-selection,
.main-content .slider-selection {
    background: #BABABA;
}

.canvas-controls .slider {
    width: 230px;
}

.canvas-controls select, .canvas-controls input[type="text"],
.main-content select, .main-content input[type="text"] {
    background: #fff;
    width: 230px;
}

.canvas-controls label{
    font-weight: bold;
    min-width: 140px;
}

.canvas-controls input[type="text"].form-control,
.main-content input[type="text"].form-control {
    display: inline-block;
}


.disable-tools-area-next {
    margin-bottom: 5px;
}

.disable-tools-area {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 140px;
    font-size: 15px;
}


.canvas-controls-group-eraser {
    display: none;
}

.canvas-controls-group {
    border-radius: 3px;
    padding: 15px 10px;
    background: #fafafa;
    margin-top: 25px;
    border: 1px solid #d6d6d6;
}



#canvas-color-picker-modal .modal-dialog {
    margin: auto;
    max-width: 800px;
}

.modal-color-picker {
    padding: 10px;
    width: 100%;
    margin: auto;
}

.modal-color-picker .modal-color-picker-item {
    cursor: pointer;
    height: 150px;
    margin: 10px 5px;
    background: #ffffff;
    outline: 1px solid #888686;
    border: 4px solid transparent;
    opacity: 0.8;
    transform: scale( 0.8 );
    transition: .4s;
    text-align: center;
}

.modal-color-picker .modal-color-picker-item.item-selected {
    border: 8px solid #777474;
    opacity: 1;
    transform: scale( 1 );
}

.modal-color-picker .modal-color-picker-item span {
    opacity: 0.8;
    text-align: center;
    display: block;
    width: 100%;
    padding: 5px;
    background: white;
    font-size: 1.8em;
    margin-top: 5px;
    font-weight: bold;
    border: 1px solid #777474;
}







.canvas-modal .settings-group {
    border-radius: 3px;
    background: #fafafa;
    border: 1px solid #d6d6d6;
    padding: 10px;
}

.canvas-modal .settings-group h4 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #d6d6d6;
    padding-top: 10px;
}

.canvas-modal .settings-group .form-group {
    margin: 15px 0;
}

.canvas-modal .settings-group .form-group label {
    width: 250px;
    font-weight: bold;
}







.canvas-toolbar {
    z-index: 100;
    border-bottom: 4px solid #a9a7a7;
    padding: 10px;
    background: #fbfbfb;
}

.canvas-toolbar .form-group {
    margin: 4px 0 0 0;
}

.canvas-toolbar label {
    font-weight: bold;
    min-width: 100px;
    margin-right: 20px;
}

.sidenav-left {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #fafafa;
    overflow-x: hidden;
    padding: 20px;
    padding-top: 0;
    width: 500px;
    border-right: 1px solid #d6d6d6;
    left: 0;
}

.sidenav-left h2 {
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #d6d6d6;
}

.sidenav-widget {
    border: 1px solid #d6d6d6;
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 3px;
}

.sidenav-widget hr {
    border-width: 3px;
    padding-bottom: 10px;
}

.sidebar-chat {
    margin-top: 25px;
    padding: 0 10px;
    border: 1px solid #99a1a7;
    background: #aab9c7;
    border-radius: 3px;
}

.sidebar-chat-message {
    border-radius: 3px;
    width: 90%;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #a9a7a7;
    padding: 10px;
}

.sidebar-chat-message.message-outgoing {
    background: #ffffff;
    margin-left: 10%;
}

.sidebar-chat-message.message-incoming {
    background: #fbfbfb;
    margin-right: 10%;
}


.sidebar-chat-message p {
    margin: 0;
}

.sidebar-chat-message p.sidebar-chat-message-user {
    font-weight: 800;
}

.sidebar-chat-message p.sidebar-chat-message-user span {
    font-size: 12px;
    color: #ababab;
    font-weight: 600;
}


.canvas-controls-group .minicolors-theme-default.minicolors {
    width: 230px;
}

.canvas-controls-group .minicolors-swatch.minicolors-sprite.minicolors-input-swatch {
    width: 100%!important;
}

.minicolors-theme-default.minicolors {
    border: 1px solid black;
}

.minicolors-swatch.minicolors-sprite.minicolors-input-swatch {
    width: 100%;
    background: white;
    height: 28px;
    border: 0;
}

.minicolors-theme-default .minicolors-swatch {
    height: 26px;
}


.shortcut-click-animate {
    animation-name: shortcut-click-animation;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}


@keyframes shortcut-click-animation {
    0%   {
        transform: scale( 0.8 );
        opacity: 0;
    }
    50%  {
        transform: scale( 1.1 );
        opacity: 0.5;
    }
    100% {
        transform: scale( 1 );
        opacity: 1;
    }
}




.toolbar-helpers {
    text-align: center;
}

.canvas-controls .toolbar-helper {
    width: 100%;
}

.page-preloader {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999999;
    margin-top: 0px;
    top: 0px;
}

.page-preloader-center {
    width: 100%;
    height: 100%;
    position: relative;
}

.page-preloader-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: -75px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


.object {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 65px;
    top: 65px;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
}

.object:nth-child(2n+0) {
    margin-right: 0px;
}

.object_one {
    background-color: #48B0E3;
    -webkit-animation: object_one 2s infinite;
    animation: object_one 2s infinite;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.object_two {
    background-color: #253394;
    -webkit-animation: object_two 2s infinite;
    animation: object_two 2s infinite;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.object_three {
    background-color: #48B0E3;
    -webkit-animation: object_three 2s infinite;
    animation: object_three 2s infinite;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.object_four {
    background-color: #253394;
    -webkit-animation: object_four 2s infinite;
    animation: object_four 2s infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.object_five {
    background-color: #48B0E3;
    -webkit-animation: object_five 2s infinite;
    animation: object_five 2s infinite;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.object_six {
    background-color: #253394;
    -webkit-animation: object_six 2s infinite;
    animation: object_six 2s infinite;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.object_seven {
    background-color: #48B0E3;
    -webkit-animation: object_seven 2s infinite;
    animation: object_seven 2s infinite;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.object_eight {
    background-color: #253394;
    -webkit-animation: object_eight 2s infinite;
    animation: object_eight 2s infinite;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.object_big {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 50px;
    -webkit-animation: object_big 2s infinite;
    animation: object_big 2s infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

@-webkit-keyframes object_big {
    50% {
        -webkit-transform: scale(0.5);
    }
}

@keyframes object_big {
    50% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
}

@-webkit-keyframes object_one {
    50% {
        -webkit-transform: translate(-65px, -65px);
    }
}

@keyframes object_one {
    50% {
        transform: translate(-65px, -65px);
        -webkit-transform: translate(-65px, -65px);
    }
}

@-webkit-keyframes object_two {
    50% {
        -webkit-transform: translate(0, -65px);
    }
}

@keyframes object_two {
    50% {
        transform: translate(0, -65px);
        -webkit-transform: translate(0, -65px);
    }
}

@-webkit-keyframes object_three {
    50% {
        -webkit-transform: translate(65px, -65px);
    }
}

@keyframes object_three {
    50% {
        transform: translate(65px, -65px);
        -webkit-transform: translate(65px, -65px);
    }
}

@-webkit-keyframes object_four {
    50% {
        -webkit-transform: translate(65px, 0);
    }
}

@keyframes object_four {
    50% {
        transform: translate(65px, 0);
        -webkit-transform: translate(65px, 0);
    }
}

@-webkit-keyframes object_five {
    50% {
        -webkit-transform: translate(65px, 65px);
    }
}

@keyframes object_five {
    50% {
        transform: translate(65px, 65px);
        -webkit-transform: translate(65px, 65px);
    }
}

@-webkit-keyframes object_six {
    50% {
        -webkit-transform: translate(0, 65px);
    }
}

@keyframes object_six {
    50% {
        transform: translate(0, 65px);
        -webkit-transform: translate(0, 65px);
    }
}

@-webkit-keyframes object_seven {
    50% {
        -webkit-transform: translate(-65px, 65px);
    }
}

@keyframes object_seven {
    50% {
        transform: translate(-65px, 65px);
        -webkit-transform: translate(-65px, 65px);
    }
}

@-webkit-keyframes object_eight {
    50% {
        -webkit-transform: translate(-65px, 0);
    }
}

@keyframes object_eight {
    50% {
        transform: translate(-65px, 0);
        -webkit-transform: translate(-65px, 0);
    }
}
